#root {
    display: block;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.sales-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #7f8497;
    color: white;
}
    .sales-header .nav-link  {
        color: white;
    }
        .sales-header .nav-link.active  {
            font-weight: bold;
        }
        .sales-header .nav-link:focus,
        .sales-header .nav-link:hover {
            color: white;
        }

.sales-mainsection {
    padding: 30px 20px;
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.09);*/
}